{% extends "layout.html" %}
{% block body %}
<!-- <link href="{{ url_for('static', filename='css/book_details.css') }}" rel="stylesheet" type="text/css"> -->

<div class="container" style="background: rgba(138, 114, 61, 0.2); margin-top:20px;">
    <h3>{{book[1]}}</h3>
    <br>
    <h6>Author {{book[2]}}</h6>
    <h6>ISBN: {{book[0]}}</h6>
    <h6>Year: {{book[3]}}</h6>
    <h6>Average Rating (Goodreads): {{ res.json()['books'][0]['average_rating']}}</h6>
    <br>
</div>

<div class="container">
    <center><h4>Reviews:</h4></center>
    <div class="col-12">
    {% if "logged_in" in session %}
    {% if session["logged_in"]%}
        {% if usrev == []%}
            <form action="{{ url_for('book',isbn=book[0])}}" method="POST" class="form">
                <div class="form-group">
                    <label for="review" class="text-white">Write a Review:</label><br>
                    <textarea name="review" style="width:500px;height:150px;"></textarea> <br>
                    <label for="rating" class="text-white">Rating:</label><br>                
                    <input type="number" min="1" max="5" step="1" name="rating"><br>
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"><br><br>
            </form>
        {% else %}
        <div class="col-12 bg-primary">
            <b>You have aldready reviewed this book.</b><br><br>
            <b>Rating:</b>{{usrev[0][1]}}<br>
            <b>Review</b><br>
            {{usrev[0][2]}}<br><hr>
            </div>
        {% endif %}
    {% endif %}
    {% else %}
        You need to be logged in to review.
    {% endif %}
    </div>
    {% for review in rev %}
        {% if review != usrev[0] %}
            <div class="col-12 bg-light">
            <b>User:{{review[0]}}</b><br><br>
            <b>Rating:</b>{{review[1]}}<br>
            <b>Review</b><br>{{review[2]}}<br><hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}