<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{url_for('static',filename='png/icon.png')}}" type="image/png" sizes="16x16">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
	<link href="{{ url_for('static', filename='css/bootstrap-4.0.0.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/index.css') }}?3sad1" rel="stylesheet" type="text/css">
  </head>	
  <body>
      <nav class="navbar navbar-expand-lg bg-dark">
          <a class="navbar-brand" href="{{ url_for('index')}}">
              <img src="{{ url_for('static', filename='svg/logo.svg')}}" width="30" height="30" alt="">
            </a>
          <a class="navbar-brand text-info" href="{{ url_for('index')}}">B4E</a>
          <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">{% if "logged_in" in session %}<b>{{session["username"]}}'s</b> {% endif %} 
              Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('results') }}">
                <ul class="navbar-nav mr-auto text-white">
                    {%if not session["logged_in"]%}
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('signup')}}"> Sign Up</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('login')}}"> Login</a></li>
                    {% else %}
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('index',logout=True)}}"> Logout</a></li>
                    {% endif %}
                  </ul>
              {% if request.path != '/' %}
              <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              {% endif %}
            </form>
          </div>
        </nav>
	  <br><br>
	  {% block body %}
	  {% endblock %}
	  
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/bootstrap-4.0.0.js') }}"></script>
  </body>
</html>